apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: managedservicesrequests.rhoas.redhat.com
spec:
  group: rhoas.redhat.com
  names:
    kind: ManagedServicesRequest
    plural: managedservicesrequests
    shortNames:
      - mscr
    singular: managedservicesrequest
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        spec:
          properties:
            accessTokenSecretName:
              type: string
          type: object

        status:
          properties:
            message:
              type: string
            updated:
              type: string
            lastUpdate:
              type: string
            conditions:
              type: array
              items:
                type: object
                properties:
                    type:
                      type: string
                    reason:
                      type: string
                    message:
                      type: string
                    status:
                      type: string
                    lastTransitionTime:
                      type: string
            userKafkas:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  created:
                    type: string
                  provider:
                    type: string
                  region:
                    type: string
                  owner:
                    type: string
                  bootstrapServerHost:
                    type: string
                  updatedAt:
                    type: string
                  createdAt:
                    type: string
                  status:
                    type: string

          type: object
      type: object
  versions:
    - name: v1alpha1
      served: true
      storage: true
  preserveUnknownFields: false
